@import url('./cards.css');
@import url('./Builds.css');

.pokemon-image {
    width: 100%;
    height: auto;    
    max-width: 120px;       
    width: 100%;                     
    image-rendering: pixelated; 
    display: block;        
    margin: 0 auto;
}
#moves {
    margin: 0 auto;
    width: 100%;
}

.pokemon-types {
    margin: 1rem;
}